
{% extends 'base.html' %}
{% load static %}
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


    {% block content %}
<html>
    <body>
    <h4>나의 단어장</h4>
    <br>
    <br>

    {% if list %}
            <table class="table" style="text-align : center; width : 80%;">
            <thread>
                <tr style="border-bottom: 2px solid #9400D3;">
                <td>no</td>
                <td>테툼어</td>
                <td>영어</td>
                <td>바하사</td>
                <td>한국어</td>
                <td>일어</td>
                <td>단어삭제</td>
            </tr>
            </thread>

    {% for s in list %}
    <tr id="databox_{{ s.dNO }}" onmouseover="this.style.background='#E6E6FA'" onmouseout="this.style.background='#ffffff'">
        <td>{{s.dNO}}</td>
        <td>{{s.dTetum}}</td>
        <td>{{s.dEnglish}}</td>
        <td>{{s.dBahasa}}</td>
        <td>{{s.dKorea}}</td>
        <td>{{s.dJapan}}</td>
        <td><a onclick="Delete('{{ s.dNO }}','{{ user.username }}')" ><button style="margin-top:0px;"> 삭제 </button> </a></td>
    </tr>

    {% endfor %}
</table>

    {% else %}
    <h6 style="margin-bottom:200px;">추가된 단어가 없어요.</h6>
    {% endif %}
<br>
<br>
<br>
</body>
</html>
    {% block scripts %}

<script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

    function Delete(dNO,user) {

        var dNO=dNO;
        var user=user;
        var xhr;
        var context = confirm('해당 단어를 삭제하시겠습니까?');
        if (context==false)
        {
            return false;
        }
        var strurl="/dictionary/erase/"+user+"/"+dNO;

        xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function(){
                if (xhr.readyState ==  4)
               {
                    xhr.readyState=xhr.responseText;
                    document.getElementById("databox_"+ dNO ).style.display = "none";
                    alert(dNO+" 가 지워졌습니다.");
                    var obj=JSON.parse(data);

                }

            };
             xhr.open("GET", strurl);
             xhr.setRequestHeader("X-CSRFToken", csrftoken);
             xhr.send(null);
    }
</script>

    {% endblock %}
{% endblock %}