{% extends 'base.html' %}
{% load static %}

{% block content %}

<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Detail / Update Page</title>
<script>
function home(){
	location.href="/";
}
function update(){
	document.form1.action="update";
	document.form1.submit();
}

function modify(){
	document.form1.action="modify";
	document.form1.modify();
	}

function del(){
	if(confirm("삭제하시겠습니까?")){
		document.form1.action = "delete";
		document.form1.submit();
	}
}
</script>
</head>
<body>
	<h4>상세보기 / 수정</h4>
	<form id="form1" name="form1" method="post" action="insert" enctype="multipart/form-data">
	{% csrf_token %}
		<!--여기-->
		이름 <input style="text-align:center; margin:0px auto;" type="text" name="writer" size="80" value="{{dto.writer}}" readonly />
		<br>
		날짜 <h4>{{dto.post_date}}</h4>
		<br>
		조회수 <h4>{{dto.hit}}</h4>
		<br>
		제목 :<div> {{dto.title}} </div>
		<br>
		<label>내용 :</label>
			<div> {{dto.content}} </div><br/>
		<label>첨부파일</label>
			<h6>
			{% if dto.filesize > 0 %}
			<a href = "download?idx={{dto.idx}}">{{dto.filename}} ({{filesize}}KB)</a>
			{% endif %}
			</h6>
		 <input type="hidden" name="idx" value="{{dto.idx}}"/>

		<a href="board">
            <input type="button" value="목록" />
		</a>

		{% if dto.writer == user.username %}
		<button> <a href = "modify?idx={{dto.idx}}">수정</a></button>
		<input type="button" value="삭제" onclick="del()"/>
		{% endif %}

	</form>

	<form method="post" action="reply_insert">
	{% csrf_token %}
		댓글작성자
		<!--여기-->
		<input style="text-align:center; margin:0px auto;" type="text" name="writer" value="{{ user.username }}" readonly  /><br/>
		<textarea style="text-align:center; margin:0px auto;" cols="80" rows="5" name="content" placeholder="댓글 내용을 입력하세요"></textarea><br/>
		<input type="hidden" name="idx" value="{{dto.idx}}"/>
		<button>댓글쓰기</button>
	</form>
<!-- 댓글 목록 -->
<p>댓글 목록</p>
	<table border="1" style="width: 700px">
	{% for row in commentList %}
	<tr>
		<td>
			<b>{{row.writer}}</b>({{row.post_date}})<br/>
		{{row.content}}
		</td>
	</tr>
	{% endfor %}
	</table>

</body>
</html>

{% endblock %}