{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<head>
<meta charset="UTF-8">
<title>Detail / Update Page</title>
<script>
function home(){
	location.href="/";
}
function update(){
	document.form1.action="update";
	document.form1.submit();
}
function del(){
	if(confirm("삭제하시겠습니까?")){
		document.form1.action = "delete";
		document.form1.submit();
	}
}
</script>
</head>
<body>
	<h4>수정</h4>
	<form id="form1" name="form1" method="post" action="insert" enctype="multipart/form-data">
	{% csrf_token %}
		<!--여기-->
		이름 <input style="text-align:center; margin:0px auto;" type="text" name="writer" size="80" value="{{dto.writer}}" readonly />
		<br>
		날짜 <h4>{{dto.post_date}}</h4>
		<br>
		조회수 <h4>{{dto.hit}}</h4>
		<br>

		<!--작성자와 접속자가 같을때-->
		{% if dto.writer == user.username %}
		제목 :<input style="text-align:center; margin:0px auto;" type="text" name="title" size="80"  value="{{dto.title}}"/>
		<br>
		<label>내용 :</label>
			<textarea style="text-align:center; margin:0px auto;" class="question" cols="80" rows="3" name="content">{{dto.content}}</textarea><br/>
		<label>첨부파일</label>
			<h6>
			{% if dto.filesize > 0 %}
			<a href = "download?idx={{dto.idx}}">{{dto.filename}} ({{filesize}}KB)</a>
			{% endif %}
			<input type="file" name="file">
			</h6>
		<input type="hidden" name="idx" value="{{dto.idx}}"/>

		<a href="board">
            <input type="button" value="목록" />
		</a>

		<input type="button" value="저장" onclick="update()"/>

		{% endif %}
        </form>

</body>
</html>

{% endblock %}

{% endblock %}