{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<head>
<meta charset="UTF-8">
<title>Write Page</title>
</head>
<body>
	<h4>글쓰기</h4>
	<form id="form1" name="form1" method="post" action="insert" enctype="multipart/form-data">
	{% csrf_token %}
	    <!-- <div>이름 {{ user.last_name }} {{ user.first_name }} [{{user.username}}] </div> -->
		<!-- <div>이름<input type="text" name="writer" size="80" value="{{ user.username }}" readonly  /></div> 글 작성시 작성자 이름 로그인 사용자 이름으로 고정-->
		제목
		<br>
		<input style="text-align:center; margin:0px auto;" type="text" name="title" size="80" placeholder="제목을 입력하세요" />
		<br>
		내용
		<br>
			<textarea style="text-align:center; margin:0px auto;" name="content" size="80" placeholder="내용을 입력하세요"></textarea>
		<br>
		첨부파일
		<br><br>
			<input style="text-align:center; margin:0px auto;" type="file" name="file"/>
		<br><br>
			<button style="text-align:center; margin:0px auto;" type="submit" id="btnSave">확인</button>
		<br>
	</form>
</body>
</html>

{%endblock%}
