
{% extends 'base.html' %}
{% load static %}



{% block content %}
<!-- Iframe 전환 완료 2020.08.07 KBY_TECH -->
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
        $(document).ready(function(e) {
            $('a').click(function(){
                $('#iframe').attr('src',$(this).attr('data-url'));
                })
        });
        </script>
<br row="" align="center">

    <div col="" align="center" >
        {% if sql %}
        {% for s in sql %}
        <button type="button" class="btn btn-primary"><a data-url="{{s.eData}}" class="btn btn-info"> {{s.eName}}</a></button>
        {% endfor %}
        {% else %}
        <p> 데이터 삽입 부탁드립니다 !</p>
        {% endif %}
    </div>

</br>

    <!-- 크게 보기 -->
    <div col="" align="center">

         {% if sql %}
        {% for s in sql %}

        <a href="{{s.eData}}"  target="_blank" class="btn btn-info">{{s.eName}} 크게보기</a>

        {% endfor %}

        {% else %}
        {% endif %}

        </br>
        </br>

        <iframe id="iframe" width="1024" height="800" src="#"></iframe>
    </div>

</div>
<br><br>


{% endblock %}
