
{% extends 'base.html' %}
{% load static %}



{% block content %}
<html>
<body>
    <h4>Ebook 게시판 - 표지를 누르면 이동합니다.</h4>
        <br>
        <br>
    <div align="center">

        {% if sql %}
        {% for s in sql %}
        <a href="{% url 'eBook:viewpdf' s.eNO %}"><img src="{{s.eImg}}" style="width: 200px; height: 300px; margin:0px 50px;" > <span style="font-size:1.5em;"> {{s.eName}}</span></a>

        {% endfor %}
        {% else %}
        {% endif %}
    </div>



</br>
</br>
</br>

</div>
<br><br>
</body>
</html>
{% endblock %}
