{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
	<body>
	<h4>다운로드 게시판 - 원하는 자료를 다운받을 수 있습니다.</h4>
	<br>
	 <table class="table" style="text-align : center;  width: 70%;">
            <thread>
                <tr style="border-bottom: 2px solid #1bb1dc;">
                <td>유형</td>
                <td>제목</td>
                <td>다운로드</td>
            </tr>
            </thread>

    {% for s in sql %}

    <tr onmouseover="this.style.background='#e8e8e8'" onmouseout="this.style.background='#ffffff'">
        <td>E-book</td>
        <td>{{s.eName}}</td>
		<td><a href="{{s.eData}}" download> ↙ </a></td>
    </tr>

    {% endfor %}
</table>
	<br>
	<br>
	</body>
</html>
{%endblock%}


