{% extends 'base.html' %}
{% load static %}



{% block content %}

<ul>
    <li><a class="btn" href="https://knuproject.s3.ap-northeast-2.amazonaws.com/eBook/ch1.pdf" download>ebook1 다운로드</a></li>
    <li><a class="btn" href="https://knuproject.s3.ap-northeast-2.amazonaws.com/eBook/ch2.pdf" download>ebook2 다운로드</a></li>
    <li><a class="btn" href="https://knuproject.s3.ap-northeast-2.amazonaws.com/eBook/ch3.pdf" download>ebook3 다운로드</a></li>
    <li><a class="btn" href="https://knuproject.s3.ap-northeast-2.amazonaws.com/eBook/ch4.pdf" download>ebook4 다운로드</a></li>
    <li><a class="btn" href="https://knuproject.s3.ap-northeast-2.amazonaws.com/eBook/ch5.pdf" download>ebook5 다운로드</a></li>
</ul>


{% endblock %}
