{% extends 'base.html' %}
{% load static %}
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
    {% block content %}

<main id="main">

    <!-- 화면 네비게이션인데? 경로? 나중에 필요시 추가 근데 거의 사용할 일 없을 것 같긴 해요.

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Account</li>
            </ol>
            <h2>log in</h2>

        </div>
    </section>

    -->

     <div class="col-lg-6" style="text-align:center; margin:0px auto;">
        <h1>login</h1>

        <form method="POST" action="{% url 'accounts:login'  %}">
            {% csrf_token %}
            ID :
            <br>
            <input name="username" type="text"  style="text-align:center; margin:0px auto;">
            <br>
            <br>
            Password:
            <br>
            <input name="password" type="password"  style="text-align:center; margin:0px auto;">
            <br><br>
            <p style="color:red"> {{ error }} {{empty_error}}</p>
            <br><br>
            <input type="submit" class="btn btn-primary" value="log in">
        </form>
        <br>
        <br>
        <br>
        <br>

        <a href ="{%url 'accounts:signup' %}" >sign up</a>

    </div>

</main><!-- End #main -->


    {% endblock %}